<div class="sidebar">
  <div class="container sidebar-sticky">
    <div class="sidebar-about">
      <h1>
        <img src="https://raw.githubusercontent.com/vhurtadol/vhurtadol.github.io/gh-pages/public/hurtado_img.png" alt="Veronica Hurtado">
        </a>
      </h1>
      <p class="lead">{{ site.title }}</p>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item" href="https://vhurtadol.github.io">Home</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

      <a class="sidebar-nav-item" href="https://www.dropbox.com/s/nlxxqfhj543l53u/CV%20-%20Hurtado%20Veronica.pdf?dl=0">CV</a>
      <a class="sidebar-nav-item" href="https://github.com/vhurtadol">GitHub</a>
    </nav>

  </div>
</div>
